@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', 'sans-serif'
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

ul {
  text-decoration: none;
  display: flex;
}

li {
  list-style-type: none;
}

/* Navigation */

nav {
  padding-top: 10px;
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__title {
  font-size: 14px;
  font-weight: 600;
  color: #1A1B1C;
  text-decoration: none;
}

.nav__subtitle {
  font-size: 17px;
  opacity: 60%;
}

.nav__link {
  padding-right: 15px;
}

.btn {
  width: 92px;
  height: 32px;
  padding: 8px 16px;
  gap: 8px;
  font-size: 10px;
  font-weight: 600;
  background-color: #1A1B1C;
  color: #FCFCFC;
}

/* Landing */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-size: 128px;
  font-weight: 300;
}

.header__subtitle {
  font-size: 128px;
  font-weight: 300;
}